In [ ]:
import pandas as pd
data = {
"Имя": ["Анна", "Иван", "Ольга", None, "Мария"],
"Возраст": [25, 30, None, 40, 35],
"Город": ["Москва", None, "Казань", "Новосибирск", "СПб"]
}
df = pd.DataFrame(data)
print(df)

     Имя  Возраст        Город
0   Анна     25.0       Москва
1   Иван     30.0         None
2  Ольга      NaN       Казань
3   None     40.0  Новосибирск
4  Мария     35.0          СПб

In [ ]:
import pandas as pd
import numpy as np
data = {
"Имя": ["Анна", "Иван", "Ольга", "Петр", "Мария", "Дмитрий"],
"Возраст": [25, np.nan, 22, 40, 35, np.nan],
"Город": ["Москва", "СПб", np.nan, "Новосибирск", "СПб",
"Екатеринбург"],
"Доход": [50000, 60000, np.nan, 70000, 65000, 55000]
}
df = pd.DataFrame(data)
print(df)

       Имя  Возраст         Город    Доход
0     Анна     25.0        Москва  50000.0
1     Иван      NaN           СПб  60000.0
2    Ольга     22.0           NaN      NaN
3     Петр     40.0   Новосибирск  70000.0
4    Мария     35.0           СПб  65000.0
5  Дмитрий      NaN  Екатеринбург  55000.0

In [ ]:
import pandas as pd
import numpy as np
# Генерируем DataFrame с пропусками
np.random.seed(42)
data = {
"Имя": ["Анна", "Иван", "Ольга", "Петр", "Мария", "Дмитрий",
"Елена", "Сергей", "Алина", "Артем"],
"Возраст": [25, np.nan, 22, 40, 35, np.nan, 28, 31, np.nan, 29],
"Город": ["Москва", "СПб", np.nan, "Новосибирск", "СПб",
"Екатеринбург", np.nan, "Казань", "Томск", np.nan],
"Доход": [50000, 60000, np.nan, 70000, 65000, 55000, 48000,
np.nan, 52000, 58000],
"Образование": [np.nan, "Высшее", "Среднее", "Высшее", np.nan,
"Высшее", "Среднее", "Высшее", np.nan, "Среднее"],
"Стаж работы": [3, 8, 1, 15, 10, np.nan, 5, 7, np.nan, 2]
}
df = pd.DataFrame(data)
print(df)

       Имя  Возраст         Город    Доход Образование  Стаж работы
0     Анна     25.0        Москва  50000.0         NaN          3.0
1     Иван      NaN           СПб  60000.0      Высшее          8.0
2    Ольга     22.0           NaN      NaN     Среднее          1.0
3     Петр     40.0   Новосибирск  70000.0      Высшее         15.0
4    Мария     35.0           СПб  65000.0         NaN         10.0
5  Дмитрий      NaN  Екатеринбург  55000.0      Высшее          NaN
6    Елена     28.0           NaN  48000.0     Среднее          5.0
7   Сергей     31.0        Казань      NaN      Высшее          7.0
8    Алина      NaN         Томск  52000.0         NaN          NaN
9    Артем     29.0           NaN  58000.0     Среднее          2.0

In [1]:
import pandas as pd
import numpy as np
data = {
"Имя": ["Анна", "Иван", "Ольга", "Петр", "Мария", "Дмитрий"],
"Возраст": [25, np.nan, 22, 40, 35, np.nan],
"Город": ["Москва", "СПб", np.nan, "Новосибирск", "СПб",
"Екатеринбург"],
"Доход": [50000, 60000, np.nan, 70000, 65000, 55000]
}
df = pd.DataFrame(data)
print(df)

       Имя  Возраст         Город    Доход
0     Анна     25.0        Москва  50000.0
1     Иван      NaN           СПб  60000.0
2    Ольга     22.0           NaN      NaN
3     Петр     40.0   Новосибирск  70000.0
4    Мария     35.0           СПб  65000.0
5  Дмитрий      NaN  Екатеринбург  55000.0

In [ ]:
df_cleaned = df.dropna()
print(df_cleaned)

     Имя  Возраст        Город    Доход
0   Анна     25.0       Москва  50000.0
3   Петр     40.0  Новосибирск  70000.0
4  Мария     35.0          СПб  65000.0

In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame({
"день": [1, 2, 3, 4, 5],
"температура": [20.0, np.nan, np.nan, 24.0, 25.0]
})
df["температура_interp"] = df["температура"].interpolate()
print(df)

   день  температура  температура_interp
0     1         20.0           20.000000
1     2          NaN           21.333333
2     3          NaN           22.666667
3     4         24.0           24.000000
4     5         25.0           25.000000

In [ ]:
dates = pd.date_range("2024-01-01", periods=5, freq="D")
df = pd.DataFrame({
"дата": dates,
"уровень воды": [1.2, np.nan, np.nan, 1.8, 2.0]
})
df.set_index("дата", inplace=True)
df["интерполяция"] = df["уровень воды"].interpolate(method="time")
print(df)

            уровень воды  интерполяция
дата
2024-01-01           1.2           1.2
2024-01-02           NaN           1.4
2024-01-03           NaN           1.6
2024-01-04           1.8           1.8
2024-01-05           2.0           2.0

In [ ]:
import pandas as pd
import numpy as np
data = {
"Имя": ["Анна", "Иван", "Ольга", "Петр", "Мария", "Дмитрий",
"Елена"],
"Баланс на счете": [50000, 60000, 45000, 70000, 65000, 400000,
450000]
}
df = pd.DataFrame(data)
print(df)

       Имя  Баланс на счете
0     Анна            50000
1     Иван            60000
2    Ольга            45000
3     Петр            70000
4    Мария            65000
5  Дмитрий           400000
6    Елена           450000

In [ ]:
import pandas as pd
data = {
"Имя": ["Анна", "Иван", "Ольга", "Петр", "Мария"],
"Возраст": [25, 30, 22, 40, 35],
"Зарплата": [50000, 60000, 45000, 70000, 65000]
}
df = pd.DataFrame(data)
print(df)

     Имя  Возраст  Зарплата
0   Анна       25     50000
1   Иван       30     60000
2  Ольга       22     45000
3   Петр       40     70000
4  Мария       35     65000

In [ ]:
from sklearn.preprocessing import RobustScaler
scaler = RobustScaler()
scaled_values = scaler.fit_transform(df[["Возраст", "Зарплата"]])
df_scaled = df.copy()
df_scaled[["Возраст", "Зарплата"]] = scaled_values
print(df_scaled)

     Имя  Возраст  Зарплата
0   Анна     -0.5 -0.666667
1   Иван      0.0  0.000000
2  Ольга     -0.8 -1.000000
3   Петр      1.0  0.666667
4  Мария      0.5  0.333333

In [ ]:
import pandas as pd
data = {
"Имя": ["Анна", "Иван", "Ольга", "Петр", "Мария"],
"Образование": ["среднее", "высшее", "начальное", "высшее",
"среднее"]
}
df = pd.DataFrame(data)
print(df)

     Имя Образование
0   Анна     среднее
1   Иван      высшее
2  Ольга   начальное
3   Петр      высшее
4  Мария     среднее

In [ ]:
ordered_mapping = {
"начальное": 0,
"среднее": 1,
"высшее": 2
}
df_ordered = df.copy()
df_ordered["Образование"] = df["Образование"].map(ordered_mapping)
print(df_ordered)

     Имя  Образование
0   Анна            1
1   Иван            2
2  Ольга            0
3   Петр            2
4  Мария            1

In [ ]:
import pandas as pd
data = {
"Имя": ["Анна", "Иван", "Ольга", "Петр", "Мария"],
"Город": ["Москва", "СПб", "Казань", "Москва", "Казань"]
}
df = pd.DataFrame(data)
print(df)

     Имя   Город
0   Анна  Москва
1   Иван     СПб
2  Ольга  Казань
3   Петр  Москва
4  Мария  Казань